#email_validation,
#name_validation {
	display: none;
}

label.required:after {
	content: '*';
	color: red;
}

span.error {

	color: red;
}

.row {
	margin: 5px;
}

#style {
	border: 2px solid black;
	background-color: gainsboro;
	padding-left: 300px
}

#button {
	background-color: skyblue;
	border-radius: 12px;
	width: 20%;
	height: 50px;
	font-family: sans-serif;
	font-style: italic;
	font-weight: bold;
	box-shadow: 1px 3px black;
	margin-bottom: 10px;
}

#name {
	height: 35px;
	border-style: hidden;
	border-radius: 20px;
	background-color: beige;
}

#email {
	height: 35px;
	border-style: hidden;
	border-radius: 20px;
	background-color: beige;
}

#message {
	border-style: hidden;
	border-radius: 20px;
	background-color: beige;

}